<div fxLayout="row" fxLayout.xs="column" [ngStyle]="{'margin':'10px','min-height':'100vh'}">
    <div fxFlex.gt-lg="25%" class="about-contact" [ngStyle]="{'margin-right':'10px'}"
        [ngStyle.xs]="{'margin-bottom': '10px'}">
        <mat-card fxFill fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header style="text-align: center">
                <mat-card-title *ngIf="contact">{{contact.firstName}} {{contact.lastName}}</mat-card-title>
                <mat-card-subtitle *ngIf="contact">{{contact.message}}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content style="text-align: center">
                <a mat-button *ngIf="contact" href="//{{contact.linkedinAddress}}" target="_blank"> Linkedin </a>
                <a mat-button *ngIf="contact" href="//{{contact.githubAddress}}" target="_blank"> Github </a>
                <a mat-button *ngIf="contact" href="mailto:{{contact.email}}"> Email </a>
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex fxLayout.gt-lg="column">
        <div fxFlex.gt-lg>
            <mat-card fxFlex.gt-lg>
                <mat-card-header>
                    <mat-card-title *ngIf="coverLetter"> {{coverLetter.headline}}</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content *ngIf="coverLetter"
                    [ngStyle]="{'font-size':'18px','margin-top': '15px','margin-left': '15px'}">
                    {{coverLetter.coverLetter}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>

</div>