<div fxLayout="row" fxLayout.xs="column" [ngStyle]="{'margin':'10px','min-height':'100vh'}">
    <div fxFlex.gt-lg="25%" class="about-contact" [ngStyle]="{'margin-right':'10px'}"
        [ngStyle.xs]="{'margin-bottom': '10px'}">
        <mat-card fxFill fxLayout="column" fxLayoutAlign="center center">
            <mat-card-header style="text-align: center">
                <mat-card-title>Brian Tambara</mat-card-title>
                <mat-card-subtitle>A Java Software Engineer looking for work.</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content style="text-align: center">
                INSERT GITHUB/EMAIL/LINKEDIN LINKS
            </mat-card-content>
        </mat-card>
    </div>

    <div fxFlex fxLayout.gt-lg="column">
        <div fxFlex.gt-lg [ngStyle]="{'margin-bottom': '10px'}">
            <mat-card fxFlex.gt-lg>
                <mat-card-header>
                    <mat-card-title>printf("Hello, World!"); I'm Brian Tambara.</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content [ngStyle]="{'font-size':'18px','margin-top': '15px','margin-left': '15px'}">
                    My journey as a Software Engineer started the day I wrote my first application in C.
                    I enrolled in my first Computer Science class at Mt. San Antonio (Walnut, California).
                    During my time at Community College, I was a member of the Computer Science Society.
                    This group would regularly meet to discuss new emerging technologies and work on robotic
                    projects. Once I completed my prerequisites for Computer Science, I transfered to
                    California Polytechnic State University Pomona (Pomona, California). I worked as a Service
                    Desk Analyst for CalPortland Cement. My time as a Service Desk Analyst taught me how to debug
                    issues over the phone and delegate my work efficently to meet deadlines. Before my graduation,
                    I was able to intern at LigoLab as a Java Developer. The LigoLab platform acts as a data warehouse
                    for all pathology cases and includes reporting, image acquisition, direct digital interface with
                    microscopes label printing, electronic signoff, quality control, and more. LigoLab is a Agile
                    software development environment. I learned how to utilize an IDE (Intellji),
                    debug code, and write SQL statements and queries. I would be given tasks to update and/or create
                    new implmentation for the LigoLab platform. Interning at LigoLab was a great experience, because I
                    was able to apply what I learned since my printf("Hello, World!"); days. When I graduated Cal Poly
                    Pomona in 2011, I started to work for Deluxe as a Java Developer.
                </mat-card-content>
            </mat-card>
        </div>

        <div fxFlex.gt-lg="50%">
            <mat-card fxFlex.gt-lg>
                <mat-card-header>
                    <mat-card-title>Language Proficiency</mat-card-title>
                </mat-card-header>
                <mat-divider></mat-divider>
                <mat-card-content [ngStyle]="{'font-size':'18px','margin-top': '15px','margin-left': '15px'}">
                    C,C++,Java, Python, MySQL, JavaScript, Angular 7, React Native, Spring Boot
                </mat-card-content>
            </mat-card>
        </div>

    </div>

</div>