<mat-sidenav-container autosize>
    <mat-sidenav postion="end" mode="over" #sidenav>
        <mat-toolbar>
            <mat-toolbar-row>
                <h2> Brian Tambara </h2>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-nav-list>
            <h2 matSubheader> Links </h2>
            <a *ngFor="let item of navRoutes" mat-list-item (click)="sidenav.close()" [routerLink]="[item.route]"
                routerLinkActive="list-item-active">
                <mat-icon matListIcon class="app-nav-list-icon"> {{ item.icon }} </mat-icon>
                {{ item.title }}
            </a>
            <a *ngIf="isLoggedIn" mat-list-item (click)="sidenav.close()" routerLink="edit">
                <mat-icon *ngIf="isLoggedIn" matListIcon class="app-nav-list-icon"> edit </mat-icon>
                Edit
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content role="main">

        <div fxLayout="column" fxLayoutAlign="start none" style="flex: 1 1 100%;min-height:100vh;">
            <app-header (toggleSidenav)="sidenav.toggle()"></app-header>
            <router-outlet></router-outlet>
            <app-footer></app-footer>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>