<div fxLayout="column" fxLayoutGap="10px" [ngStyle]="{'margin':'10px','min-height':'100vh'}" *ngIf="contact">
    <mat-card fxFlex>
        <div fxLayout="column">
            <mat-card-title>Edit About</mat-card-title>
            <div fxLayout="row" fxLayoutGap="10px">
                <form fxLayout="column" fxFlex [formGroup]="contactForm">
                    <mat-card-subtitle>Contact Information</mat-card-subtitle>
                    <div fxLayout="row" fxLayoutGap="10px" fxFlex>
                        <mat-form-field fxFlex>
                            <input type="text" matInput formControlName="firstNameField" placeholder="First Name"
                                require />
                        </mat-form-field>

                        <mat-form-field fxFlex>
                            <input type="text" matInput formControlName="lastNameField" placeholder="Last Name"
                                require />
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <input type="text" matInput placeholder="Message" require />
                    </mat-form-field>

                    <mat-form-field>
                        <input type="text" matInput formControlName="githubAddressField" placeholder="Github Account"
                            require />
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput formControlName="linkedinAddressField"
                            placeholder="Linkedin Account" require />
                    </mat-form-field>
                    <mat-form-field>
                        <input type="text" matInput formControlName="emailField" placeholder="Email Account" require />
                    </mat-form-field>
                </form>
                <div fxLayout="column" fxFlex>
                    <mat-card-subtitle>About me</mat-card-subtitle>
                    <mat-form-field>
                        <input type="text" matInput placeholder="Headline" require />
                    </mat-form-field>
                    <mat-form-field>
                        <textarea type="text" matInput matTextareaAutosize matAutosizeMinRows=11.9
                            matAutosizeMaxRows=11.9 placeholder="Tell your story"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </div>

        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" (click)="saveChanges(contactForm)">Save
                changes</button>
        </mat-card-actions>
    </mat-card>

    <mat-card fxFlex>
        <div fxLayout="column">
            <mat-card-title>Edit Resume</mat-card-title>
            <mat-card-subtitle>Statement</mat-card-subtitle>
            <mat-card-subtitle>Jobs</mat-card-subtitle>
            <mat-card-subtitle>Projects</mat-card-subtitle>
            <mat-card-subtitle>Education/Certication</mat-card-subtitle>

            <mat-card-actions>
                <button mat-raised-button color="primary" type="submit">Save changes</button>
            </mat-card-actions>
        </div>
    </mat-card>
</div>