<div fxLayout="column" fxLayoutGap="10px">
    <h2 mat-dialog-title>{{project._dialogtitle}}</h2>
    <form fxLayout="column" fxFlex fxLayoutGap="10px" [formGroup]="projectForm">
        <mat-form-field>
            <input type="text" matInput formControlName="nameField" placeholder="Project Name" required />
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput formControlName="locationField" placeholder="Location" required />
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput formControlName="titleField" placeholder="Projet Title" required />
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput formControlName="summaryField" placeholder="Project Summary" required />
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput formControlName="startedField" placeholder="Started Projcet" required />
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput formControlName="endedField" placeholder="Ended Project" required />
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput formControlName="websiteLinkField" placeholder="Website" required />
        </mat-form-field>
        <mat-form-field>
            <input type="text" matInput formControlName="repositoryLinkField" placeholder="Repository" required />
        </mat-form-field>
    </form>

    <div mat-dialog-actions fxLayout="row" fxLayoutGap="10px">
        <button fxFlex="0 0 auto" [disabled]="!projectForm.valid" mat-raised-button color="primary" (click)="onSaveClick()">
            Save
        </button>
        <button fxFlex="0 0 auto" mat-raised-button color="primary" (click)="onNoClick()">
            Cancel
        </button>
    </div>
</div>